/* SELECTORS */

*{
    font-family: "Roboto", sans-serif;
    font
}

body{
    background-color: #1F2937;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}

/* NAVBAR AND HERO AREA */
.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-second-text, .navbar-link{
    color: #E5E7EB;
    font-size: 18px;
}

.navbar-link{
    margin-right: 1.7em;
}

.navbar{
    margin: 0 8em;
    display: inline-block;
    text-align: center;
}

.navbar-logo{
    margin-right: 15em;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero-area{
    margin: 7em 8.1em;
    width: 40em;
    display: inline-flex;
}

.hero-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bolder;
    border-style: none;
    width: 8em;
    height: 2.5em;
    border-radius: 5px;
}
/* INFO AREA */

.random-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-area{
    background-color: #fff;
    text-align: center;
}
.squircle-area{
    display: inline-block;
    margin: 0 1.5em 0 1.5em;
}

.squircle{
    border-color: #3882F6;
    border-style: groove;
    width: 8em;
    height: 8em;
    border-radius: 1em;
}

.squircle-info{
    width: 8em;
    text-align: left;
}