/* SELECTORS */

*{
    font-family: "Roboto", sans-serif;
}




/* CLASSES */
.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-second-text, .navbar-link{
    color: #E5E7EB;
    font-size: 18px;
}

.navbar-link{
    margin-right: 1.7em;
}

.navbar{
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar-logo{
    margin-right: 27em;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero-area{
    margin: 7em 15em;
    display: inline-flex;
}
/* IDS */

#header{
    background-color: #1F2937;
    margin: 0 auto;
    padding: 0px;
}