/* SELECTORS */

*{
    font-family: "Roboto", sans-serif;
    font
}

section{
    margin: 0 0 0 0;
}
div{
    margin: 0 0 0 0;
}

body{
    background-color: #1F2937;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}

/* NAVBAR AND HERO AREA */
.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-second-text, .navbar-link{
    color: #E5E7EB;
    font-size: 18px;
}

.navbar-link{
    margin-right: 1.7em;
}

.navbar{
    margin: 0 8em;
    display: inline-block;
    text-align: center;
}

.navbar-logo{
    margin-right: 15em;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero-area{
    margin: 7em 8.1em;
    width: 65em;
    display: inline-flex;
    border-style: groove;
    border-color: #ff0000fc;
}

.hero-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bolder;
    border-style: none;
    width: 8em;
    height: 2.5em;
    border-radius: 5px;
}

.hero-image{
    background-color: #737373;
    color: #fff;
    text-align: center;
    margin: 3em 5em 0 10em;
    width: 60%;
    height: 15em;
}
/* INFO AREA */

.random-info{
    margin: 1em auto;
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.info-area{
    background-color: #fff;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0;
}
.squircle-area{
    display: inline-block;
    margin: 0 1.5em 0 1.5em;
    
}

.squircle{
    border-color: #0080ff;
    border-style: groove;
    width: 9em;
    height: 9em;
    border-radius: 1em;
}

.squircle-info{
    width: 9em;
    text-align: center;
    color: #6e6e6e;
}

/* QUOTE AREA */

.quote-area{
    margin: 0;
    padding: 3em 8em;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;

}

.quoted{
    margin-top: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    position: relative;
    left: 22em;
    bottom: 2em;
    
}